<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team.asapwork">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.team.asapwork.ASAPApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.team.asapwork.ui.ActivityUserMain" />
        <activity android:name="com.team.asapwork.ui.ActivitySignUp" />
        <activity android:name="com.team.asapwork.ui.ActivityLogin" />
        <activity android:name="com.team.asapwork.ui.ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.team.asapwork.ui.ActivityWorkerMain" />
        <activity android:name="com.team.asapwork.ui.ActivityPlaceOrder"></activity>
    </application>

</manifest>